.sidenav {
    width: 250px;
    transition: width 0.3s ease-in-out;
    height: 100vh;
    background-color: rgb(10,25,41);
}
.sidenavClosed {
    composes: sidenav;
    transition: width 0.3s ease-in-out;
    width: 60px
}
.sideitem {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    cursor: pointer;
    color: #B2BAC2;
    text-decoration: none;
    overflow: hidden;
}
.linkText {
    padding-left: 16px;
}

.sideitem:hover {
    background-color: #244f7d1c;

}
.menuBtn {
    align-self: center;
    align-self: flex-start;  
    justify-self: flex-end;
    color: #B2BAC2;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding-left: 20px;
}

.contenedor_logo{
    display: grid;
    justify-items: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  
  }
  .App_logo{
    composes: contenedor_logo;
    width: 70%;
    margin-top: 0rem;
    margin-bottom: 0rem;
  }

  .App_logo_closed {
    composes: contenedor_logo;
    width: 80%;
    margin-top: 0rem;
    margin-bottom: 0rem;
  }


